#u340-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u3438-4,#u3442-4
{
	font-family: carme-n4, sans-serif;
}

#u3064-4
{
	font-family: abel-n4, sans-serif;
}

#u3101-4
{
	font-family: abel-n4, sans-serif;
}

#u3110-4
{
	font-family: abel-n4, sans-serif;
}

#u3117-4
{
	font-family: abel-n4, sans-serif;
}

#u3123-4
{
	font-family: abel-n4, sans-serif;
}

#u2287-2,#u2256-6
{
	font-family: advent-pro-n6, sans-serif;
}

