#u2161-4
{
	background-color: transparent;
	color: #24280A;
	text-align: center;
	letter-spacing: 1px;
	line-height: 13px;
	font-size: 11px;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

